In [1]:
import pyupbit
import numpy as np

In [6]:
def get_ror(k):
    df = pyupbit.get_ohlcv("KRW-BTC", count=7)
    df['range'] = (df['high'] - df['low']) * k
    print('***df range:', df['range'])
    df['target'] = df['open'] + df['range'].shift(1)
    print('***df target:', df['target'])

    fee = 0.0005
    df['ror'] = np.where(df['high'] > df['target'],
                         df['close'] / df['target'] - fee,
                         1)

    ror = df['ror'].cumprod()[-2]
    return ror

In [14]:
k_list = []
ror_list = []
for k in np.arange(0.01, 1.0, 0.01):
    ror = get_ror(k)
    print('*'*40)
    print("%.2f %f" % (k, ror))
    print('*'*40)
    k_list.append(k)
    ror_list.append(ror)

***df range: 2021-04-26 09:00:00    52250.0
2021-04-27 09:00:00    16250.0
2021-04-28 09:00:00    32910.0
2021-04-29 09:00:00    19000.0
2021-04-30 09:00:00    50400.0
2021-05-01 09:00:00    18290.0
2021-05-02 09:00:00    24940.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64250250.0
2021-04-28 09:00:00    64775250.0
2021-04-29 09:00:00    64092910.0
2021-04-30 09:00:00    63835000.0
2021-05-01 09:00:00    68006400.0
2021-05-02 09:00:00    69059290.0
Name: target, dtype: float64
****************************************
0.01 1.070608
****************************************
***df range: 2021-04-26 09:00:00    104500.0
2021-04-27 09:00:00     32500.0
2021-04-28 09:00:00     65820.0
2021-04-29 09:00:00     38000.0
2021-04-30 09:00:00    100800.0
2021-05-01 09:00:00     36580.0
2021-05-02 09:00:00     49880.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64302500.0
2021-04-28 09:00:00    64791500.0
2021-04-29 09:00:00    64125820.0
2021-04-30 09:00:00    63854000.0
2021-05-01 09:00:00    68056800.0
2021-05-02 09:00:00    69077580.0
Name: target, dtype: float64
****************************************
0.02 1.067811
****************************************
***df range: 2021-04-26 09:00:00    156750.0
2021-04-27 09:00:00     48750.0
2021-04-28 09:00:00     98730.0
2021-04-29 09:00:00     57000.0
2021-04-30 09:00:00    151200.0
2021-05-01 09:00:00     54870.0
2021-05-02 09:00:00     74820.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64354750.0
2021-04-28 09:00:00    64807750.0
2021-04-29 09:00:00    64158730.0
2021-04-30 09:00:00    63873000.0
2021-05-01 09:00:00    68107200.0
2021-05-02 09:00:00    69095870.0
Name: target, dtype: float64
****************************************
0.03 1.065022
****************************************
***df range: 2021-04-26 09:00:00    209000.0
2021-04-27 09:00:00     65000.0
2021-04-28 09:00:00    131640.0
2021-04-29 09:00:00     76000.0
2021-04-30 09:00:00    201600.0
2021-05-01 09:00:00     73160.0
2021-05-02 09:00:00     99760.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64407000.0
2021-04-28 09:00:00    64824000.0
2021-04-29 09:00:00    64191640.0
2021-04-30 09:00:00    63892000.0
2021-05-01 09:00:00    68157600.0
2021-05-02 09:00:00    69114160.0
Name: target, dtype: float64
****************************************
0.04 1.062242
****************************************
***df range: 2021-04-26 09:00:00    261250.0
2021-04-27 09:00:00     81250.0
2021-04-28 09:00:00    164550.0
2021-04-29 09:00:00     95000.0
2021-04-30 09:00:00    252000.0
2021-05-01 09:00:00     91450.0
2021-05-02 09:00:00    124700.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64459250.0
2021-04-28 09:00:00    64840250.0
2021-04-29 09:00:00    64224550.0
2021-04-30 09:00:00    63911000.0
2021-05-01 09:00:00    68208000.0
2021-05-02 09:00:00    69132450.0
Name: target, dtype: float64
****************************************
0.05 1.059471
****************************************
***df range: 2021-04-26 09:00:00    313500.0
2021-04-27 09:00:00     97500.0
2021-04-28 09:00:00    197460.0
2021-04-29 09:00:00    114000.0
2021-04-30 09:00:00    302400.0
2021-05-01 09:00:00    109740.0
2021-05-02 09:00:00    149640.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64511500.0
2021-04-28 09:00:00    64856500.0
2021-04-29 09:00:00    64257460.0
2021-04-30 09:00:00    63930000.0
2021-05-01 09:00:00    68258400.0
2021-05-02 09:00:00    69150740.0
Name: target, dtype: float64
****************************************
0.06 1.056709
****************************************
***df range: 2021-04-26 09:00:00    365750.0
2021-04-27 09:00:00    113750.0
2021-04-28 09:00:00    230370.0
2021-04-29 09:00:00    133000.0
2021-04-30 09:00:00    352800.0
2021-05-01 09:00:00    128030.0
2021-05-02 09:00:00    174580.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64563750.0
2021-04-28 09:00:00    64872750.0
2021-04-29 09:00:00    64290370.0
2021-04-30 09:00:00    63949000.0
2021-05-01 09:00:00    68308800.0
2021-05-02 09:00:00    69169030.0
Name: target, dtype: float64
****************************************
0.07 1.053956
****************************************
***df range: 2021-04-26 09:00:00    418000.0
2021-04-27 09:00:00    130000.0
2021-04-28 09:00:00    263280.0
2021-04-29 09:00:00    152000.0
2021-04-30 09:00:00    403200.0
2021-05-01 09:00:00    146320.0
2021-05-02 09:00:00    199520.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64616000.0
2021-04-28 09:00:00    64889000.0
2021-04-29 09:00:00    64323280.0
2021-04-30 09:00:00    63968000.0
2021-05-01 09:00:00    68359200.0
2021-05-02 09:00:00    69187320.0
Name: target, dtype: float64
****************************************
0.08 1.051212
****************************************
***df range: 2021-04-26 09:00:00    470250.0
2021-04-27 09:00:00    146250.0
2021-04-28 09:00:00    296190.0
2021-04-29 09:00:00    171000.0
2021-04-30 09:00:00    453600.0
2021-05-01 09:00:00    164610.0
2021-05-02 09:00:00    224460.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64668250.0
2021-04-28 09:00:00    64905250.0
2021-04-29 09:00:00    64356190.0
2021-04-30 09:00:00    63987000.0
2021-05-01 09:00:00    68409600.0
2021-05-02 09:00:00    69205610.0
Name: target, dtype: float64
****************************************
0.09 1.048476
****************************************
***df range: 2021-04-26 09:00:00    522500.0
2021-04-27 09:00:00    162500.0
2021-04-28 09:00:00    329100.0
2021-04-29 09:00:00    190000.0
2021-04-30 09:00:00    504000.0
2021-05-01 09:00:00    182900.0
2021-05-02 09:00:00    249400.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64720500.0
2021-04-28 09:00:00    64921500.0
2021-04-29 09:00:00    64389100.0
2021-04-30 09:00:00    64006000.0
2021-05-01 09:00:00    68460000.0
2021-05-02 09:00:00    69223900.0
Name: target, dtype: float64
****************************************
0.10 1.045750
****************************************
***df range: 2021-04-26 09:00:00    574750.0
2021-04-27 09:00:00    178750.0
2021-04-28 09:00:00    362010.0
2021-04-29 09:00:00    209000.0
2021-04-30 09:00:00    554400.0
2021-05-01 09:00:00    201190.0
2021-05-02 09:00:00    274340.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64772750.0
2021-04-28 09:00:00    64937750.0
2021-04-29 09:00:00    64422010.0
2021-04-30 09:00:00    64025000.0
2021-05-01 09:00:00    68510400.0
2021-05-02 09:00:00    69242190.0
Name: target, dtype: float64
****************************************
0.11 1.043032
****************************************
***df range: 2021-04-26 09:00:00    627000.0
2021-04-27 09:00:00    195000.0
2021-04-28 09:00:00    394920.0
2021-04-29 09:00:00    228000.0
2021-04-30 09:00:00    604800.0
2021-05-01 09:00:00    219480.0
2021-05-02 09:00:00    299280.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64825000.0
2021-04-28 09:00:00    64954000.0
2021-04-29 09:00:00    64454920.0
2021-04-30 09:00:00    64044000.0
2021-05-01 09:00:00    68560800.0
2021-05-02 09:00:00    69260480.0
Name: target, dtype: float64
****************************************
0.12 1.040323
****************************************
***df range: 2021-04-26 09:00:00    679250.0
2021-04-27 09:00:00    211250.0
2021-04-28 09:00:00    427830.0
2021-04-29 09:00:00    247000.0
2021-04-30 09:00:00    655200.0
2021-05-01 09:00:00    237770.0
2021-05-02 09:00:00    324220.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64877250.0
2021-04-28 09:00:00    64970250.0
2021-04-29 09:00:00    64487830.0
2021-04-30 09:00:00    64063000.0
2021-05-01 09:00:00    68611200.0
2021-05-02 09:00:00    69278770.0
Name: target, dtype: float64
****************************************
0.13 1.037623
****************************************
***df range: 2021-04-26 09:00:00    731500.0
2021-04-27 09:00:00    227500.0
2021-04-28 09:00:00    460740.0
2021-04-29 09:00:00    266000.0
2021-04-30 09:00:00    705600.0
2021-05-01 09:00:00    256060.0
2021-05-02 09:00:00    349160.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64929500.0
2021-04-28 09:00:00    64986500.0
2021-04-29 09:00:00    64520740.0
2021-04-30 09:00:00    64082000.0
2021-05-01 09:00:00    68661600.0
2021-05-02 09:00:00    69297060.0
Name: target, dtype: float64
****************************************
0.14 1.034931
****************************************
***df range: 2021-04-26 09:00:00    783750.0
2021-04-27 09:00:00    243750.0
2021-04-28 09:00:00    493650.0
2021-04-29 09:00:00    285000.0
2021-04-30 09:00:00    756000.0
2021-05-01 09:00:00    274350.0
2021-05-02 09:00:00    374100.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    64981750.0
2021-04-28 09:00:00    65002750.0
2021-04-29 09:00:00    64553650.0
2021-04-30 09:00:00    64101000.0
2021-05-01 09:00:00    68712000.0
2021-05-02 09:00:00    69315350.0
Name: target, dtype: float64
****************************************
0.15 1.032248
****************************************

***df range: 2021-04-26 09:00:00    836000.0
2021-04-27 09:00:00    260000.0
2021-04-28 09:00:00    526560.0
2021-04-29 09:00:00    304000.0
2021-04-30 09:00:00    806400.0
2021-05-01 09:00:00    292640.0
2021-05-02 09:00:00    399040.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    65034000.0
2021-04-28 09:00:00    65019000.0
2021-04-29 09:00:00    64586560.0
2021-04-30 09:00:00    64120000.0
2021-05-01 09:00:00    68762400.0
2021-05-02 09:00:00    69333640.0
Name: target, dtype: float64
****************************************
0.16 1.034337
****************************************
***df range: 2021-04-26 09:00:00    888250.0
2021-04-27 09:00:00    276250.0
2021-04-28 09:00:00    559470.0
2021-04-29 09:00:00    323000.0
2021-04-30 09:00:00    856800.0
2021-05-01 09:00:00    310930.0
2021-05-02 09:00:00    423980.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    65086250.0
2021-04-28 09:00:00    65035250.0
2021-04-29 09:00:00    64619470.0
2021-04-30 09:00:00    64139000.0
2021-05-01 09:00:00    68812800.0
2021-05-02 09:00:00    69351930.0
Name: target, dtype: float64
****************************************
0.17 1.032488
****************************************
***df range: 2021-04-26 09:00:00    940500.0
2021-04-27 09:00:00    292500.0
2021-04-28 09:00:00    592380.0
2021-04-29 09:00:00    342000.0
2021-04-30 09:00:00    907200.0
2021-05-01 09:00:00    329220.0
2021-05-02 09:00:00    448920.0
Name: range, dtype: float64
***df target: 2021-04-26 09:00:00           NaN
2021-04-27 09:00:00    65138500.0
2021-04-28 09:00:00    65051500.0
2021-04-29 09:00:00    64652380.0
2021-04-30 09:00:00    64158000.0
2021-05-01 09:00:00    68863200.0
2021-05-02 09:00:00    69370220.0
Name: target, dtype: float64
****************************************
0.18 1.030644
****************************************
It failed JSONDecodeError
TypeError

TypeError: 'NoneType' object is not subscriptable

In [9]:
max(ror_list)

1.0706084216769716

In [13]:
ror_list.in

[1.0706084216769716,
 1.0678105189817564,
 1.065021657335706,
 1.062241801705408,
 1.0594709172165158]